<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes</title>
</head> -->

{% extends 'index.html' %} 

{% block title %}
  MENSAJES    
{% endblock %} 


{% block header %}

{% endblock %} 


{% block content %}
<body>
    <table id="table" border="1"> 
        <tbody>
            <tr> 
                <td width="2">#</td> 
                <td width="2">Emisor</td> 
                <td width="2">Mensaje</td> 
            </tr> 
            {% for pro in productos %}
            <tr>
                <td width="2">{% print( pro[0] ) %}</td> 
                <td width="2">{% print( pro[1] ) %}</td> 
                <td width="2">{% print( pro[2] ) %}</td> 
                <td width="2">{% print( pro[3] ) %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %} 

</html>