{% extends 'index.html' %} 

{% block title %}
  LOGIN UP    
{% endblock %} 

{% block content %}
<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
      
    <main class="px-3 py-3 text-white bg-transparent bg-opacity-25">
      <h1>Saludos Gracias por la visita.</h1>
      <p class="lead text-white">Recuerda interactuar con cada elemento, Esta pagina simula un Entorno Virtual donde puedes alojar tu 
        repositorio de imagenes, gestión, visualización y distribución de imágenes, con el objetivo de satisfacer las necesidades de 
        búsqueda, inspiración y uso tanto de usuarios comunes como de profesionales creativos en diferentes industrias. web de imagenes.
        <br> <br>
        <strong><u>Con tus aportes podremos mejorar, no se te olvide comentar.</u></strong>
        </p>
      <p class="lead p-3">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Estado BETA.</a>
      </p>
    </main>
  
    <div class="container p-3">
      <div class="position-relative py-3">
        <div class="position-absolute top-50 start-50 translate-middle border-white">
          <h5 class="text-white">Primero inicia registrandote. <u> Aqui </u></h5>
          <a href="{{url_for('register')}}" class="btn btn-light btn-outline-success" value="Register">Registrate</a>
        </div>
      </div>
    </div>
    
  </div>

</body>
{% endblock %}
</html>
