{% extends 'index.html' %}

{% block title %}
    Perfil {{g.user.nombre}}
{% endblock %}


{% block content %}
<body>
    
<!-- contenido de encabezado -->
    <div class="container p-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <ul class="list-group list-group-horizontal  ">

                    <!-- AREA De IMAGEN y BOTON EDIT DEl PERFIL -->
                    <li class="list-group-item border-0 bg-transparent p-2 text-dark bg-opacity-10">

                        <div class="text-center">

                            <!-- IMAGEN DE PERFIL -->
                            <img src="{% if g.user[7] %}upLoads/{{g.user[7]}}{% else %}{{url_for( 'static', filename='images/imagPerfil/imgEstandarPerfil/perfil.png' )}}{% endif %}" 
                            class="rounded-pill" width="190" height="190" width="100%" height="100%">
                        </div>

                        <div class="position-relative">

                            <!-- BOTON MODAL USADO PARA EDITAR EL PERFIL DEL USUARIO -->
                            <button type="button"
                                class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary border-0"
                                data-bs-toggle="modal" data-bs-target="#EDIT" data-bs-whatever="" title="Edita tu Perfil">
                                EDIT
                        </div>

                    </li>

                    <!-- TEXTO A MOSTRAR EN EL PERFIL DEL USUARIO bg-transparent-->
                    <li class="list-group-item bg-secondary bg-opacity-25 text-white">
                        <div class="p-3">
                            <div class="py-1">
                                <h3>

                                    <!-- NOMBRE DEL USUARIO EN EL PERFIL -->
                                    <strong class="card-text black text-wrap sm-8" > <!--style="width: 6rem;-->
                                        {% if g.user[5] %}
                                        <!-- SI (g.user.descripcion_perfil) contiene algo entra y ejecuta -->
                                            {{ g.user[5] }} <!-- se ejecuta esto -->
                                        {% else %} <!-- SiNo entra y ejecuta -->
                                            {{ g.user[2] }} <!-- se ejecuta esto -->
                                        {% endif %} <!-- FIN del IF -->

                                        <!-- <input class="form-control-plaintext form-control-xxl" type="text" name="txtNormbrePefil" id="txtNormbrePefil" value="Nombre"> -->
                                    </strong>
                                </h3>
                            </div>

                            <!-- DESCRIPCION DEL PERFIL USUARIO -->
                            <div class="row-cols-md-12 py-3" word-break: break-word>
                                <p class="card-text black lh-sm text-wrap sm-8" >
                                    {% if g.user[6] %}
                                    <!-- SI (g.user.descripcion_perfil) contiene algo entra y ejecuta -->
                                        {{ g.user[6] }} <!-- se ejecuta esto -->
                                    {% else %} <!-- SiNo entra y ejecuta -->
                                        Breve definicion de tu perfil <!-- se ejecuta esto -->
                                    {% endif %} <!-- FIN del IF -->
                                    <!--  texto descripcion del perfil definir MAX letras -->
                                </p>

                                <!-- CORREO DEL USUARIO opcional -->
                                <p class="card-text black">
                                    {{ g.user[3] }}
                                </p>
                            </div>

                        </div>

                    </li>
                </ul>
            </div>
        </div>


        <!-- BODY -> MUSTRA LAS IMAGENES AGREGADAS POR EL USUARIO -->
        <!-- contenido del cuerpo -->
        <div class="container py-3 px-3 w-auto mx-auto">
            <div class="p-3 m-0 border-0 bd-example ">

                {% if imagenes %} <!-- SI (imagenes) contiene algo entra y ejecuta -->
                <!-- se ejecuta lo siguiente -->

                <div class="row row-cols-1 row-cols-md-4 g-4 p-0 ">

                    {% for imagen in imagenes %}
                    <!-- IMAGEN AH MOSTRAR #0 -->
                    <div class="col px-1">
                        <div class="card h-100"> <!-- bg-secondary bg-opacity-25 trasparencia  -->

                            <img src="upLoads/{{ imagen[2] }}" class="bd-placeholder-img card-img" width="100%" height="180"
                                width="100%" height="100%">

                            <div class="img-overlay">
                                <div class="position-relative">


                                    <!-- ICONO DE LIKE -->
                                    <button type="submit" id="btnLike"
                                        class="position-relative border-0 opacity-50 bg-transparent"
                                        onclick="contador_remueve_class()"> <!-- onclick="contador_remueve_class()" -->
                                        <img src="{{ url_for('static', filename='images/iconosPerfil/like/corazon.png') }}"
                                            width="30" alt="" id="imgLikeCorazon">
                                        <span class="" id="span">
                                            <p id="contadorLike"
                                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                                            </p>
                                        </span>
                                    </button>

                                    <!-- ICONO DE COMENTAR -->
                                    <button type="button" id="btComentario"
                                        class="bg-transparent position-absolute bottom-0 start-50 translate-middle-x border-0 px-2 opacity-50"
                                        name="btComentario">
                                        <div>
                                            <img src="/static/images/iconosPerfil/comentar/comentario.png" width="30"
                                                alt="">
                                        </div>
                                    </button>

                                    <!-- ICONO DE COMPARTIR -->
                                    <button type="button" id="btnCompartir"
                                        class="bg-transparent position-absolute bottom-0 end-0 border-0 px-2 opacity-50"
                                        name="btnCompartir">
                                        <div>
                                            <img src="/static/images/iconosPerfil/compartir/compartir.png" width="25"
                                                alt="">
                                        </div>
                                    </button>

                                </div>
                            </div>

                            <div class="card-body p-2">
                                <!-- TEXTO DESCRIPTIVO DE LA IMAGEN -->
                                <h6 class="lh-1">
                                    {{ imagen[1] }}
                                </h6>
                            </div>

                            <div class="card-footer p-0 text-center">
                                <small class="text-muted"><em> Last Updated 3 mins ago</em></small>
                            </div>

                        </div>
                    </div>
                    <!-- IMGANE AH MOSTRAR #1 -->

                    <!-- IMGANE AH MOSTRAR #2 -->

                    <!-- IMAGEN AH MOSTRAR #3 -->

                    <!-- IMAGEN AH MOSTRAR #4 -->

                    {% endfor %}

                    {% else %} <!-- SiNo entra y ejecuta -->
                    <!-- se ejecuta lo siquiente -->
                    <h3 class="text-white">Hola eres nuevo o esta probando esta web intenta ingresar una imagen en el logo
                        <img src="/static/images/iconosPerfil/nav/cargar.png" width="30" alt="">. Arriba a la derecha
                        <br>
                        <br>Puedes editar eh ingresar una imagen de perfil con en el boton EDIT, debajo de la imagen
                        estandar de perfil <br>
                    </h3>

                    {% endif %} <!-- FIN del IF -->

                </div>

            </div>
        </div>


        <!-- VENTANA EMERGENTE DEL MODAL 
        boton de ejecucionde data-bs-target="#EDIT", se idenficado por id="EDIT"-->
        <div class="modal fade" id="EDIT" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edita tu perfil: </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="edita_Perfil" onSubmit="" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label class="col-form-label" for="txtEditNombreUsuario">Nombre de Usuario:</label>

                                <!-- NOMBRE DEL USUARIO EN EL PERFIL -->
                                <input class="form-control" type="text" name="txtEditNombreUsuario"
                                    id="txtEditNombreUsuario" 
                                    value="{% if g.user[5] %}{{ g.user[5] }}{% else %}{{ g.user[2] }}{% endif %}" required>
                            </div>

                            <div class="mb-3">
                                <label class="col-form-label" for="txtAreaEditDescripcionPerfil">Descripcion perfil:
                                </label>

                                <!-- DESCRIPCION DEL PERFIL USUARIO -->
                                <textarea class="form-control" name="txtAreaEditDescripcionPerfil"
                                    id="txtAreaEditDescripcionPerfil" cols="30" rows="3" 
                                    required>{% if g.user[6] %}{{ g.user[6] }}{% else %}Ingresa aquí una breve definición de tu perfil{% endif %}</textarea>
                                <!-- SI (g.user.descripcion_perfil) contiene algo entra y ejecuta -->
                                <!-- SiNo se ejecuta esta linea -->
                                <!-- FIN del IF -->
                            </div>

                            <div class="mb-3">
                                <label class="col-form-label" for="txtFptoPerfil">Imagen de perfil:</label>

                                <!-- PREVISUALIZACION DE LA FOTO PARA EL PERFIL -->
                                <div class="text-center">
                                    <img src="{{url_for( 'static', filename='images/imagPerfil/imgEstandarPerfil/imagen_Perfil.webp' )}}"
                                        class="rounded-pill p-3" width="60%" height="70%" id="seleccionFotoPerfil" alt="">
                                </div>

                                <input class="form-control" type="file" name="txtFotoEditPerfil" id="txtFotoEditPerfil"
                                    required>
                                <div class="styleImage" id="preview"></div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-success" value="Enviar" name="Enviar" id="Enviar">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>