<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send To</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleOfCSS.css') }}">
    <script src="{{ url_for('static', filename='js/validacion.js') }}"></script>
</head> -->

{% extends 'index.html' %} 

{% block title %}
  Sent   
{% endblock %} 


{% block header %}

{% endblock %} 


{% block content %}
<body>
    <form method="POST" action="send" onSubmit="" enctype="multipart/form-data">
        <div class="contenido_externo_register">

            <div class="contenido_interno_register">
                <label for="txtDe">De: </label>
                <input type="text" name="txtDe" id="txtDe" required>
            </div>

            <div class="contenido_interno_register">
                <label for="txtPara">Para: </label>
                <input type="text" name="txtPara" id="txtPara" required>
            </div>

            <div class="contenido_interno">
                <label for="txtAsunto">Asunto: </label>
                <input type="text" name="txtAsunto" id="txtAsunto" required>
            </div>

            <div class="contenido_interno">
                <label for="txtMensaje">Mensaje: </label>
                <input type="text" name="txtMensaje" id="txtMensaje" required>
            </div>

            <div class="contenido_interno">
                <input type="submit" class="btn btn-success" value="Enviar" name="Enviar" id="Enviar"
                onclick="validarFormulario();">
                <!-- <a href="{{ url_for('login') }}" class="btn btn-primary" >Login</a> -->
            </div>

        </div>
    </form>
</body>
{% endblock %} 

</html>